- title t '_guestbook'
.row
  .large-12.columns
    %h4= t '_guestbook_say'
    %hr
.row
  .large-8.columns
    = validation_errors!(@post)
    .panel.secondary.hide-on-phones
      = render 'say'
    %ul.breadcrumbs
      %li= link_to t('_index'), root_path
      %li= link_to t('_guestbook'), :action => :index
      %li= link_to t('_guestbook_say'), :action => :say
