- title t '_users'
.row
  .large-12.columns
    %h4= t '_users'
    %hr
.row
  .large-8.columns
    .panel.secondary.hide-on-phones
      - if @users.length != 0
        - for user in @users
          .img
            = image_tag user.gravatar_url(:rating => 'R', :secure => true, :size => 50, :default => 'mm')
          %strong= link_to user.login, :action => :show, :user => user.login
          %br
          = user.email
          %br
          %br
          %hr
        = foundation_paginate @users
      - else
        = t 'messages.blank'
    %ul.breadcrumbs
      %li= link_to t('_index'), root_path
      %li= link_to t('_users'), users_path
  .large-4.columns
    .panel.secondary.hide-on-phones
      
