#result{"data-alert" => ""}
  = t '_users_search'
  %a.close{:div => "", :href => "#"} ×
  %hr
  - unless @result.empty?
    - @result.each do |user|
      .img
        = image_tag user.gravatar_url(:rating => 'R', :secure => true, :size => 30, :default => 'mm')
      %strong= link_to user.login, :action => :show, :user => user.login
      %br
      %small= user.email 
      %br
      %br
  - else
    = t 'helpers.error.search'
